<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.tvz.zavrsni.transportapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="hr.tvz.zavrsni.transportapplication.App">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:label="@string/title_activity_categories" >
        </activity>
        <activity
            android:name=".JobActivity"
            android:label="@string/title_activity_item" >
        </activity>
        <activity
            android:name=".JobListActivity"
            android:label="@string/title_activity_item_list" >
        </activity>
    </application>

</manifest>
